
// Base
// -------------------

// Used for global styles
// Or to override certain Atom core styles

// -------------------

@ui-theme-name: perfect-dark-pro-ui;

@pdpu-tint-color: rgb(0,0,0);

// @invisible: rgba(0,0,0,0);
// // @tint: fade(@invisible, 2.5%);
// @tint: fade(@invisible, 5%);
// @tint: fade(@pdpu-tint-color, ~('theme-@{ui-theme-name}-darkObject-dark') / 10);
// @tint: fade(@pdpu-tint-color, 'theme-@{ui-theme-name}-darkObject-dark' / 10);
// @tint: fade(@pdpu-tint-color, 2.5);

.index-views
{
	background: @tint;
}

// .item-views
// {
// 	background: @tint;
// }

@theme-tabWidth: ~'theme-@{ui-theme-name}-tabWidth';

*
{
	// background: @tint;
	// background: @invisible;
	// background-color: @invisible;
}

// html {
// 	background-size: cover;
// 	position: fixed;
// 	opacity: 1;
// }

body
{
	font-size: @font-size;
	// color: @text-color;
	// background-color: @app-background-color;
	// background-color: @tint;
	// background: @tint;
	background-size: cover;
	position: fixed;
	// opacity: 1;
	// width: -webkit-fill-available;
	// height: -webkit-fill-available;
	bg-transition
	{
		opacity:1;
		width: -webkit-fill-available;
		height: -webkit-fill-available;
		position: absolute;
		top: 0;
		z-index: -1;
		background-size: cover;
	}
}


atom-pane
{
	background: @tint;
	border-right: 1px solid @base-border-color;
	&:last-child
	{
		border-right: none;
	}
}


// .has-selection
// {
// 	background: @tint;
// }


::-webkit-scrollbar-track
{
	background: rgba(40, 44, 52, 0);
	// background: rgba(40, 44, 52, 0);
}

::-webkit-scrollbar-thumb
{
	border-color: rgb(0, 0, 0, 0);
	background: #7cf8ae;
	border-radius:10px;
}

::-webkit-scrollbar-corner
{
	background: rgba(40, 44, 52, 0);
}

::-webkit-scrollbar
{
	// margin: none;
	// width: "@theme-{ui-theme-name}-scrollWidth";
	width: 5px;
	height:5px;
}

::-webkit-scrollbar-thumb
{
	border:none;
	background:#7cf8ae;
}

